@media (max-width: 700px) {
    .main {
        margin-top: 16px;
        .header {
            font-size: 16px;
            letter-spacing: 0;
            line-height: 1.5em;
        }
        .card {
            margin-top: 16px;
            &__header {
                font-size: 18px;
            }
            &__downloads {
                align-items: center;
                flex-direction: column;
                a {
                    font-size: 16px;
                }
                span {
                    font-size: 18px;
                }
                &__left {
                    margin-bottom: 16px;
                }
            }
        }
    }
}
