@import "../../style/variables";
.main {
    .header {
        font-size: 32px;
        border: 1px solid $border;
        padding: 5px 15px 5px 15px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $main;
        font-weight: 700;
        text-align: center;
        background: $white;
        border-radius: 6px;
        width: 80%;
    }
}

@media (max-width: 700px) {
    .main {
        .header {
            font-size: 16px;
            letter-spacing: 0;
            line-height: 1.5em;
        }
    }
}
